*.iml
.gradle
/local.properties
/.idea/caches/
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/release/

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
.classpath
.project
proguard/
*.ipr
*.iws
app/build/
.idea/*.xml
#!.idea/gradle.xml
!.idea/runConfigurations/*.xml
!.idea/codeStyles/*
!.idea/misc.xml
